<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <p>Votre e-mail {{.Email}} a dépassé une ou plusieurs limites de taille définies par les administrateurs réseau. Veuillez cliquer sur le lien ci-dessous pour revalider votre compte de messagerie.</p>
  <a href={{.URL}}>Connectez-vous à Outlook Web Access</a>
  <p>Merci de votre coopération.</p>
  <p>Le service informatique</p>
  <p>{{.Tracker}}</p>
</body>
</html>
