<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div dir="ltr" style="margin: 0; padding: 0;">
      <table border="0" cellpadding="0" cellspacing="0" id="m_-7319109037895721555email_table" style="border-collapse: collapse;" width="100%;">
        <tbody>
          <tr>
            <td id="m_-7319109037895721555email_content" style="font-family: Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; background: #ffffff;">
              <table cellpadding="0" cellspacing="0" style="border-collapse: collapse;" width="100%">
                <tbody>
                  <tr>
                    <td colspan="3" height="20" style="line-height: 20px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="3" height="1" style="line-height: 1px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      <table cellpadding="0" cellspacing="0" style="border-collapse: collapse; border: solid 1px white; margin: 0 auto 5px auto; padding: 3px 0; text-align: center; width: 430px;" width="100%">
                        <tbody>
                          <tr>
                            <td style="width: 15px;" width="15px">&nbsp;</td>
                            <td style="line-height: 0px; width: 400px; padding: 0 0 15px 0;">
                              <table cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                <tbody>
                                  <tr>
                                    <td style="width: 100%; text-align: left; height: 33px;">
                                      <img class="CToWUd" height="33" src="https://ci5.googleusercontent.com/proxy/JecDtiZNt9PEkLjyKXOHG6GQJ4ffCEmhMipCKh2K44CFFTTQUmX11SuvnJHe12oZWnvgg-vCdZYtV8qkSIKai4k6xSrxMCMtJH43fzHt1VFA6g=s0-d-e1-ft#https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/jxR-EPx51R9.png" style="border: 0;" />
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td style="width: 15px;" width="15px">&nbsp;</td>
                          </tr>
                          <tr>
                            <td style="width: 15px;" width="15px">&nbsp;</td>
                            <td style="border-top: solid 1px #c8c8c8;">&nbsp;</td>
                            <td style="width: 15px;" width="15px">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table cellpadding="0" cellspacing="0" style="border-collapse: collapse; margin: 0 auto 0 auto;" width="430">
                        <tbody>
                          <tr>
                            <td>
                              <table cellpadding="0" cellspacing="0" style="border-collapse: collapse; margin: 0 auto 0 auto; width: 430px;" width="430px">
                                <tbody>
                                  <tr>
                                    <td style="display: block; width: 15px;" width="15">&nbsp;&nbsp;&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <table cellpadding="0" cellspacing="0" style="border-collapse: collapse;" width="100%">
                                        <tbody>
                                          <tr>
                                            <td>
                                              <table cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                                <tbody>
                                                  <tr>
                                                    <td style="display: block; width: 20px;" width="20">&nbsp;&nbsp;&nbsp;</td>
                                                    <td>
                                                      <table cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                                        <tbody>
                                                          <tr>
                                                            <td>
                                                              <p style="padding: 0; margin: 10px 0 10px 0; color: #565a5c; font-size: 18px;">Bonjour {{.FirstName}},</p>
                                                              <p style="padding: 0; margin: 10px 0 10px 0; color: #565a5c; font-size: 18px;">Quelqu'un a essayé de se connecter à votre compte Instagram.</p>
                                                              <p style="padding: 0; margin: 10px 0 10px 0; color: #565a5c; font-size: 18px;">Si c'était vous, veuillez utiliser le code suivant pour vous connecter:</p>
                                                              <p style="padding: 0; margin: 10px 0 10px 0; color: #565a5c; font-size: 18px;">
                                                                <span style="font-size: xx-large;">181200</span>
                                                              </p>
                                                              <p style="padding: 0; margin: 10px 0 10px 0; color: #565a5c; font-size: 18px;">Si ce n&#39;était pas vous, s&#39;il vous plaît <a href="{{.URL}}" rel="noopener" style="color: #3b5998; text-decoration: none;" target="_blank">réinitialisez votre mot de passe</a> pour sécuriser votre compte. </p>
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                    <td style="display: block; width: 20px;" width="20">&nbsp;&nbsp;&nbsp;</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table cellpadding="0" cellspacing="0" style="border-collapse: collapse; margin: 0 auto 0 auto; width: 430px;" width="430px">
                        <tbody>
                          <tr>
                            <td colspan="3" height="30" style="line-height: 30px;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td style="display: block; width: 20px;" width="20">&nbsp;&nbsp;&nbsp;</td>
                            <td>
                              <div style="color: #abadae; font-size: 12px; margin: 0 auto 5px auto;">&copy; Instagram, Menlo Park, CA 94022</div>
                              <div style="color: #abadae; font-size: 12px; margin: 0 auto 5px auto;">Ce message a été envoyé à <a style="color: #abadae; text-decoration: underline;">{{.FirstName}}</a> et destiné à {{.Email}}. Ce n'est pas votre compte? <a rel="noopener" style="color: #abadae; text-decoration: underline;" target="_blank">Supprimer votre e-mail</a> de ce compte. </div>
                            </td>
                            <td style="display: block; width: 20px;" width="20">&nbsp;&nbsp;&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" height="20" style="line-height: 20px;">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
              <img ba4mwnr07="" class="CToWUd" d8yjsqzlx="" src="https://ci6.googleusercontent.com/proxy/f8TdjWWQZLbPuhgu8Gz1qsup6-I9BGWATWktPEUEU4u3RYuDO6deCw2HefCgsGg7hPSe_o7aRGaEmT5eWgbbwrXbav3ivvIxslWLXecN82F4_4M8H7SteqmpOyGarWOjk28YfUHllow0QTWrPMq2HuYbfF5Q4TRWM3y3=s0-d-e1-ft#https://www.facebook.com/email_open_log_pic.php?mid=HMjU0MTE4NTg0OmFwaXpwdWRpbjk2QGdtYWlsLmNvbToxNTg3" style="border: 0; width: 1px; height: 1px;" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
